annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.4.22
click==8.1.8
DAWG-Python==0.7.2
DAWG2-Python==0.9.0
docopt==0.6.2
exceptiongroup==1.3.1
fastapi==0.128.8
fuzzywuzzy==0.18.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
Jinja2==3.1.6
Levenshtein==0.27.1
MarkupSafe==3.0.3
pydantic==2.13.3
pydantic_core==2.46.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142
python-dotenv==1.2.1
python-Levenshtein==0.27.1
RapidFuzz==3.13.0
starlette==0.49.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.39.0
